<section class="achievements">
    <div class="ach--sub">
    <div class="ach--img">
      <img src="./css/svg/diploma 1.svg" alt="badge images">
    </div>
    <div class="ach--year">2018</div>
    <div class="ach--title">
      Heldentage design akademie
    </div>
    <div class="ach--detail">
      scholarship for the best individual performance in creating a communication concept for „Kältebus Berlin“
    </div>
  </div>
  <div class="ach--sub">
    <div class="ach--img">
      <img src="./css/svg/diploma 1.svg" alt="badge images">
    </div>
    <div class="ach--year">2018</div>
    <div class="ach--title">
      School’s speech contest
    </div>
    <div class="ach--detail">
      scholarship for the best individual performance in creating a communication concept for „Kältebus Berlin“
    </div>
  </div>
  <div class="ach--sub">
    <div class="ach--img">
      <img src="./css/svg/diploma 1.svg" alt="badge images">
    </div>
    <div class="ach--year">2018</div>
    <div class="ach--title">
      District’s speech contest
    </div>
    <div class="ach--detail">
      scholarship for the best individual performance in creating a communication concept for „Kältebus Berlin“
    </div>
  </div>
   </section>