<section class="grid--1x2">
    <div class="grid--img">
      <img src="./css/images/person.png" alt="person's black and white images" class="grid--img">
    </div>
    <div class="education">
    <div class="info--img">
      <div class="deg-num">01</div>
      <div class="deg-name-per">
        <div class="deg-name">BG/BRG Berndorf, AT
          <div class="deg-per">Lower Grade</div>
        </div>
      </div>
    </div>
    <div class="info--img">
      <div class="deg-num">02</div>
      <div class="deg-name-per">
        <div class="deg-name">BORG Wiener Neustadt, AT
          <div class="deg-per">A-Levels / Abitur / Matura</div>
          <div class="paragraph">
            Participation on different competitions for speeches, optional subject: Medienkunde (creating designs for annual year books, production of videos, etc.)
          </div>
        </div>
      </div>
    </div>
    <div class="info--img">
      <div class="deg-num">03</div>
      <div class="deg-name-per">
        <div class="deg-name">design akadmie Berlin, DE
          <div class="deg-per">B.A. Advertising</div>
          <div class="paragraph">
            Diverse learning of creative strategies, which is to be developed in the fields of marketing, design, photography and film. Elaboration of numerous concepts for renowned customers.
          </div>
        </div>
      </div>
    </div>
  </div>
   </section>