<section class="work--sec">
  <div class="work-h">
    <h2>work</h2>
  </div>
</section>
<section class="work-content">
 
  <ul class="list nav__list " >
    <li class="nav__item"><a href="#">ALL</a></li>
    <li class="nav__item"><a href="#">Ux and Conceptions</a></li>
    <li class="nav__item"><a href="#">Branding</a></li>
    <li class="nav__item"><a href="#">Design</a></li>
    <li class="nav__item"><a href="#">Video and Abnimations</a></li>

  </ul>
</section>
<section class="images" >
  <div class="img">
    <img src="./css/images/work1.png" alt="" class="pic"  >
  </div>
  <div class="img">
    <img src="./css/images/work2.png" alt="" class="pic"  >
  </div>
  <div class="img">
    <img src="./css/images/work3.png" alt="" class="pic"  >
  </div>
  <div class="img">
    <img src="./css/images/work4.png" alt="" class="pic"  >
  </div>
  <div class="img">
    <img src="./css/images/work5.png" alt="" class="pic"  >
  </div>
  <div class="img">
    <img src="./css/images/work6.png" alt="" class="pic"  >
  </div>
 </section>